{% extends "base.html" %}
{% block title %}Chat{% endblock %}

{% block content %}
    <p><i>You are currently looking at the <b>DESKTOP</b> version. This chat application is designed to reflect what mobile and desktop WebSocket workings should do.</i></p>
    <br>
    <p>You are: {{ request.user.get_full_name }}</p>
    <p>Currently talking with: {{ target_user }}</p>
    <br>
    <div id="messages"></div>
    {% if sendable %}
    <form name="publish">
    <input type="text" name="message">
    <input type="submit" value="Send">
    </form>
    {% endif %}
{% endblock %}

{% block content_js %}
    <script>
    let socket = new WebSocket("ws://localhost:8000/chat/" + {{ chat_number }});

    socket.onmessage = function(event) {
        let message = event.data;
        let messageElem = document.createElement("div");
        messageElem.textContent = message;
        document.getElementById("messages").prepend(messageElem);
    };

    // Send message from the form
    document.forms.publish.onsubmit = function() {
        let outgoingMessage = this.message.value;
        socket.send(outgoingMessage);
        return false;
    };
    </script>
{% endblock %}